
.wrapper {
  height: 265px;
  max-width: 410px;
  background: #fff;
  border-radius: 7px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  &.active {
    height: 530px;

    .qr-code {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.5s 0.05s ease;
    }

  }

  .form {
    margin: 20px 0 25px;
  }

}

header {

  h1 {
    font-size: 21px;
    font-weight: 500;
  }

  p {
    margin-top: 5px;
    color: #575757;
    font-size: 16px;
  }
}

.form {

  :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.1s ease;
  }

  input {
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;

    &:focus {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
    }

    &::placeholder {
      color: #999;
    }
  }

}

.form button {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  background: #3498DB;
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.qr-code {
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid #ccc;

  img {
    width: 170px;
  }
}

@media (max-width: 430px) {
  .wrapper {
    height: 255px;
    padding: 16px 20px;
  }
  .wrapper.active {
    height: 510px;
  }
  header p {
    color: #696969;
  }
  .form :where(input, button) {
    height: 52px;
  }
  .qr-code img {
    width: 160px;
  }
}
