<div
  class="wrapper"
  [class.active]="(isActive$ | async)"
>
  <header>
    <h1>QR Code Generator</h1>
    <p>Paste a url or enter text to create QR code</p>
  </header>
  <div class="form">
    <input type="text" spellcheck="false" placeholder="Enter text or url" #refInput>
    <button
      [disabled]="(isLoading$ | async)"
      (click)="onClickGenerateCode(refInput.value)"
    >Generate QR Code</button>
  </div>
  <div class="qr-code">
    <img [src]="(qrCodeUrl$ | async | safeUrl)" alt="qr-code">
  </div>
</div>
